@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100vh;
}
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header-centerer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}
.header {
    width: 1200px;
    height: 60px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
}    
.header-text {
    align-self: center;
    margin-left: 8px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}
.top-image {
    width: 80px;
    filter: invert(1);
}
ul {
    display: flex;
    align-self: center;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}
a {
    color: #E5E7EB;
    text-decoration: none;
}
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.hero-centerer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-bottom: 8px;
}
.hero {
    display: flex;
    align-items: center;
    width: 1200px;
    gap: 40px;
}
.hero-left {
    flex: 1 1 0;
    font-size: 18px;
    color: #E5E7EB;
}
.hero-image {
    flex: 1 1 0;
}
.container-image {
    max-width:100%;
    max-height:100%;
}
.hero-header {
    font-size: 48px;
    font-weight: 900; 
    color: #F9FAF8;
}
.information-section-centerer {
    display: flex;
    justify-content: center;
}
.information-section {
    width: 1200px;
}
.card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 250px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card .text {
    margin-top: 5px;
    text-align: center;
}
.information-section h1 {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin-bottom: 0px;
}
.card img {
    width: 200px;
    border: solid #3882F6;
    border-radius: 14px;
}
.quote-section-centerer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}
.quote-section {
    width: 800px;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    color: #1F2937;
    margin: 30px 0;
}
.quote-author {
    font-weight: 800;
    font-size: 20px;
    font-style: normal;
    text-align: end;
}
.call-to-action-centerer {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    background-color: #3882F6;
    border-radius: 14px;
    padding: 30px 80px;
}
.call-to-action h2,
.call-to-action p {
    margin: 0;
    color: #F9FAF8;
}
.call-to-action h2{
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 5px;
}
.call-to-action button {
    border: solid 2px white;
}
.footer-centerer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    height: 60px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: white;
}
button {
    background-color: #3882F6;
    padding: 4px 24px;
    font-weight: 600;
    font-size: 18px;
    color: #E5E7EB;
    border-radius: 10px;
    border: none;
}
