@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
    height: 100vh;
}
body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header {
    height: 80px;
    padding: 8px 200px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
}    
.header-text {
    color:white;
    align-self: center;
    margin-left: 8px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}
.top-image {
    width: 100px;
    filter: invert(1);
}
ul {
    display: flex;
    align-self: center;
    list-style-type: none;
    gap: 20px;
    padding: 0;
    margin: 0;
}
a {
    color: #E5E7EB;
    text-decoration: none;
}
.content {
    flex: 1;
}
.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 200px;
    background-color: #1F2937;
    color: white;
}
